@import "../../styles/vars"

.h1
    font-size: 96
    letter-spacing: 20%
.h2
    font-size: 64
    letter-spacing: 10%
.h3
    font-size: 36
    letter-spacing: 10%
.h4
    font-size: 30
    letter-spacing: 10%
.h5
    font-size: 96
    letter-spacing: 20%
.text
    font-size: 24
    letter-spacing: 0%
.text_small
    font-size: 15
    letter-spacing: 10%
._accent
    font-weight: 400
