@import "../../styles/vars"

.registrationForm
    display: flexbox
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: var(--main-color)
    width: 500px
    min-height: 477px
    border-radius: 30px
    padding: 50px 15px
.form
    display: flexbox
    flex-direction: column
    align-items: center
    justify-content: center
.input
    width: 100%
    min-height: 50px
    background-color: var(--theme-complementary-color)
    color: var(--main-color)
    padding: 0 15px
.name
    text-align: center
