@import "../../styles/vars"

.button
    display: flex
    align-items: center
    justify-content: center
    border-radius: 30px
    margin: 15px auto
    transition: 0.5s
    &:hover
        &:enabled
            background-color: var(--accent-color)
._large
    width: 86%//430px
    min-height: 60px
    height: 20%
    max-height: 93px
._medium
    width: 81% //406px
    min-height: 50px
    height: 16%
    max-height: 77px
._small
    width: 91% //453px
    min-height: 30px
    height: 13%
    max-height: 63px
._light
    background-color: var(--theme-complementary-color)
    color: var(--accent-complementary-color)
._dark
    background-color: var(--accent-complementary-color)
    color: var(--main-color)
._accent
    background-color: var(--accent-color)
    color: var(--main-color)
